{% extends "index.html" %}
{% block content %}
<div class="col-md-6 mx-auto" style="display:flex; margin-top:60px; margin-left:500px; float:inherit; font-size: 1em">
    <div class="card rounded-0" style = "margin-left:200px">
        <div class="card-header" style = " left:30%">
            <h3 class="mb-0">{{form_name}}</h3>
        </div>
        <div class="card-body">

            <form class="form"  action = "/{{action}}" method = post >
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.height.label }}
                    {{ form.height(class_="form-control") }}

                    {% if form.height.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.height.errors %}
                        <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.weight.label }}
                    {{ form.weight(class_="form-control") }}

                    {% if form.weight.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.weight.errors %}
                        <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                    {%endif%}
                </div>

                <div class="form-group" >
                    {{ form.age.label }}
                    {{ form.age(class_="form-control") }}

                    {% if form.age.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.age.errors %}
                        <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                    {%endif%}
                </div>
                {{ form.submit(class_="btn btn-success") }}
            </form>

        </div>
    </div>
</div>

</div>



{% endblock %}